streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-groq
langgraph
sentence-transformers
faiss-cpu
pypdf
python-dotenv
torch